{% extends 'youtube_base.html' %}

{% block title %}
	{{ video.title }} - Youtube
{% endblock title %}

{% block data %}
<div class='d-flex flex-row ps-5 justify-content-between'>
	<!-- current video section -->
	<div class='pt-3'>
		<iframe src="{{ video.video_path }}" width="800" height="500" allowFullscreen='true' frameborder='0' scrolling='no' seamless=''></iframe>

		<!-- video information section -->
		<div class='border-top border-bottom pt-2 pb-3'>
			
			<h3>{{ video.title }}</h3>
			<h6>Uploaded By {{ video.user.user_name }}</h6>
			<h6>{{ video.date_uploaded }}</h6>
			
			<p>Likes: <span id='like_count'>{{ video.likes|length }}</span></p>
			<p>Dislikes: <span id='dislike_count'>{{ video.dislikes|length }}</span></p>

			{% if session['user'] %}
				<div>
					<!-- TODO: Need to color buttons depending on user dislike/like value -->
					<!-- Check jinja python filter -->
					<img src="{{ url_for('static', filename='images/like.png') }}" onclick="alter_likes('like')" alt="like button" width='25px' style='filter:invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%)'>
					<img src="{{ url_for('static', filename='images/like.png') }}" onclick="alter_likes('dislike')" alt="dislike button" width='25px' style='transform:scaleY(-1)'>
				</div>
			{% else %}
				<h4>Please Login to Like/Dislike Video</h4>
			{% endif %}
		</div>
		
		<!-- comment insert section -->
		<div>
			{% if session['user'] %}
				<div class='input-group mb-3 mt-3'>
					<input type="text" name="add_comment" id="add_comment" class='form-control'>
					<div class='input-group-append'>
						<button class='btn btn-primary' onclick="add_comment()">Add Comment</button>
					</div>
				</div>
			{% else %}
				<h4>Please Login to Like/Dislike Video</h4>
			{% endif %}
		</div>

		<!-- New comment area -->
		<span id='new_comment_area'></span>

		<!-- comment list section -->
		<div>
			<!-- TODO: need to make the UI better -->
			<!-- TODO: need to add a delete comment button here -->
			{% for comment in video.comments %}
				<div>
					<h4>{{ comment.user.user_name }}</h4>
					<p>{{ comment.text }}</p>
					<!-- TODO: need to minus device date with upload date -->
					<p>{{ comment.date_uploaded }}</p>
				</div>
			{% endfor %}
		</div>
	</div>

	<!-- recommended videos section -->
	<div class='border-start px-5 pt-2'>
		<div class='d-flex flex-column'>
			<h3>Recommended Videos</h3>
			{% for r_video in recommended %}
				<div class='card pt-2 mb-2' style='width: 20rem;'>
					<img src="{{ r_video.image_path }}" alt="thumnail">
					<div class='card-body'>
						<h5 class='card-title'>{{ r_video.title }}</h5>
						<p class='card-text'>{{ r_video.user.user_name }}</p>
						<!-- TODO: Need to show difference in date uploaded and today's date -->
						<p class='card-text'>{{ r_video.date_uploaded }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<script>
	function alter_likes(value) {
		var video_id = "{{ video.id }}";
		var user_id = "{{ session['user'] }}";

		fetch('/alter_like', {
			method : 'post',
			body : JSON.stringify({
				'user_id' : user_id,
				'value' : value,
				'video_id' : video_id
			}),
			headers: {
				"Content-type": "application/json; charset=UTF-8"
			}
		})
		.then(
			function(response) {
				if (response.status != 200) {
					alert("Some problem. Response Code : " + response.status);
				}
				else {
					response.json().then(function(data) {
						var status = data["status"];
						if (status == 100) {
							var like_count_value = parseInt(document.getElementById('like_count').innerHTML);
							like_count_value--;
							document.getElementById('like_count').innerHTML = like_count_value;
						}
						else if (status == 200) {
							var like_count_value = parseInt(document.getElementById('like_count').innerHTML);
							like_count_value++;
							document.getElementById('like_count').innerHTML = like_count_value;
						}
						else if (status == 300) {
							// adding to like
							var like_count_value = parseInt(document.getElementById('like_count').innerHTML);
							like_count_value++;
							document.getElementById('like_count').innerHTML = like_count_value;

							// removing from dislike
							var dislike_count_value = parseInt(document.getElementById('dislike_count').innerHTML);
							dislike_count_value--;
							document.getElementById('dislike_count').innerHTML = dislike_count_value;
						}
						else if (status == 400) {
							var dislike_count_value = parseInt(document.getElementById('dislike_count').innerHTML);
							dislike_count_value--;
							document.getElementById('dislike_count').innerHTML = dislike_count_value;
						}
						else if (status == 500) {
							var dislike_count_value = parseInt(document.getElementById('dislike_count').innerHTML);
							dislike_count_value++;
							document.getElementById('dislike_count').innerHTML = dislike_count_value;
						}
						else if (status == 600) {
							// adding to dislike
							var dislike_count_value = parseInt(document.getElementById('dislike_count').innerHTML);
							dislike_count_value++;
							document.getElementById('dislike_count').innerHTML = dislike_count_value;

							// removing from like
							var like_count_value = parseInt(document.getElementById('like_count').innerHTML);
							like_count_value--;
							document.getElementById('like_count').innerHTML = like_count_value;
						}
						else {
							alert("Unknown status")
						}
					});
				}
			}
		)
		.catch(
			function(err) {
				alert(err)
			}
		)
	}

	function add_comment() {
		var video_id = "{{ video.id }}";
		var user_id = "{{ session['user'] }}";
		var comment_text = document.getElementById("add_comment").value;

		fetch('/add_comment', {
			method : 'post',
			body : JSON.stringify({
				'user_id' : user_id,
				'comment' : comment_text,
				'video_id' : video_id
			}),
			headers: {
				"Content-type": "application/json; charset=UTF-8"
			}
		})
		.then(
			function(response) {
				if (response.status != 200) {
					alert("Some problem. Response Code : " + response.status);
				}
				else {
					response.json().then(function(data) {
						var status = data["status"];

						if (status == 200) {
							// TODO: Need to add User name and comment date here
							// removing text from comment input field
							document.getElementById("add_comment").value = "";

							// adding new comment on UI
							var new_comment_span = document.getElementById("new_comment_area");
							var old_comments = new_comment_span.innerHTML;
							new_comment_span.innerHTML = "<div><h4>User</h4><p>" + comment_text + "</p><p></p></div>" + old_comments;
						}
					});
				}
			}
		)
		.catch(
			function(err) {
				alert(err)
			}
		)
	}
</script>
{% endblock data %}